//
// Override global variables
//

// Theme colors
// $primary:       									#8950FC;
// $primary-hover:    									#7337EE;
// $primary-light:    									#EEE5FF;
// $primary-inverse:  									#FFFFFF;
$primary:       									#1D1B38;
$primary-hover:    									#36a9e1;
$primary-light:    									#36a9e1;
$primary-inverse:  									#FFFFFF;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.
$grid-gutter-width:           						30px !default;
